[submodule "lib/clip"]
	path = lib/clip
	url = https://github.com/dacap/clip.git
[submodule "lib/jsoncons"]
	path = lib/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "lib/cpp-base64"]
	path = lib/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git